* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    height: auto;
    width: 100%;
}

.section-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-one  {
    background-image: url(../components/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two {
    background-image: url(../components/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
}

.card-container {
    background: black;
    border-radius: 25px;
    padding: 25px;
    max-width: 500px;
    color: white;
}

.input-container {
    padding-bottom: 25px;
}


input {
    width: 100%;
    height: 30px;
    text-align: center;
}


form {
    display: flexbox;
}

footer {
    height: 50px;
    padding-top: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

